<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>D214AppAlpha.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>40A4E74D1BEBEB59002DCF60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40A4E7641BEBEB5A002DCF60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40A4E76F1BEBEB5A002DCF60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
